src/main/mule/sapi-rick-morty.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sapi-rick-morty-main">
        <http:listener path="/api/*" config-ref="sapi-rick-morty-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sapi-rick-morty-config" />
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="get:\characters:sapi-rick-morty-config">
        <flow-ref doc:name="sf-charaters" doc:id="9510bf2b-8225-4cec-9a75-9b9d5ff0cf1d" name="sf-charaters"/>
    </flow>
    <flow name="get:\episodes:sapi-rick-morty-config">
		<flow-ref doc:name="sf-episodes" doc:id="9f6a4129-a7f0-451d-99d1-2cf41244524c" name="sf-episodes"/>
    </flow>
    <flow name="get:\locations:sapi-rick-morty-config">
		<flow-ref doc:name="sf-episodes" doc:id="8f4d6692-129d-4b07-9f5f-aaa7e88d2973" name="sf-locations"/>
    </flow>
</mule>
